body {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  background-color: #1B4353; }

* {
  font-size: 10px;
  outline: none; }

h1 {
  color: #173753; }

h2 {
  color: #173753; }

.navbar .navbar-ul .navbar-ul-li {
  display: flex;
  width: 100vh;
  justify-content: flex-end;
  text-decoration: none;
  list-style-type: none; }

.cart img {
  width: 32px;
  height: 32px; }

#Productos {
  display: flex;
  justify-content: center;
  margin: 1rem;
  flex-flow: wrap;
  background: rgba(109, 174, 219, 0.5);
  border: white 1px solid; }
  #Productos .producto {
    margin: 10px;
    border: 1px solid white;
    padding: 10px; }
    #Productos .producto img {
      width: 500px;
      height: 250px; }

.container {
  background-color: #2892D7;
  width: 50rem;
  height: 50rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.4rem; }
  .container #formCliente div label {
    font-size: 1.6rem; }
  .container #formCliente div input {
    font-size: 1.6rem;
    border: gray 2px solid; }
  .container #formCliente div input:focus {
    border-color: black 2px solid;
    box-shadow: none; }
  .container #formCliente .clienteBtn button {
    font-size: 1.6rem; }

#divClientes {
  padding: 1rem;
  margin: 1rem;
  width: 200px;
  border: white 1px solid;
  background-color: lightseagreen; }
