body {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  background-color: #1B4353; }

* {
  font-size: 10px;
  outline: none; }

h1 {
  color: white; }

h2 {
  color: white; }

.navbar .navbar-ul .navbar-ul-li {
  display: flex;
  width: 100vh;
  justify-content: flex-end;
  text-decoration: none;
  list-style-type: none; }

.cart img {
  width: 32px;
  height: 32px; }

#Productos {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  background: rgba(109, 174, 219, 0.5); }
  #Productos .producto {
    margin: 1rem;
    border: 1px solid white;
    padding: 0.5rem; }
    #Productos .producto .precioF {
      font-size: 1.6rem; }
    #Productos .producto img {
      width: 500px;
      height: 250px; }
    #Productos .producto h4,
    #Productos .producto p {
      color: White;
      margin: 1rem; }
    #Productos .producto p {
      font-size: 1.6rem; }
    #Productos .producto .justifyProductos {
      display: grid;
      margin: 1rem;
      grid-template-columns: 40% 15% 45%;
      grid-template-rows: 30% 35% 35%; }
      #Productos .producto .justifyProductos #comprar {
        grid-column: 0/1;
        grid-row: 2;
        padding: 1rem;
        background-color: rgba(0, 0, 255, 0.5); }
      #Productos .producto .justifyProductos #carrito {
        grid-column: 0/1;
        grid-row: 3;
        padding: 1rem;
        background-color: rgba(0, 128, 0, 0.5); }
      #Productos .producto .justifyProductos label {
        grid-row: 0;
        grid-column: 3;
        font-size: 1.6rem;
        color: white; }
      #Productos .producto .justifyProductos .cuotas {
        grid-row: 2;
        grid-column: 3; }
      #Productos .producto .justifyProductos .botonElegir {
        grid-row: 3;
        grid-column: 3; }

.container {
  background-color: #2892D7;
  width: 50rem;
  height: 50rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.4rem; }
  .container #formCliente div label {
    font-size: 1.6rem; }
  .container #formCliente div input {
    font-size: 1.6rem;
    border: gray 2px solid; }
  .container #formCliente div input:focus {
    border-color: black 2px solid;
    box-shadow: none; }
  .container #formCliente .clienteBtn button {
    font-size: 1.6rem; }

#divClientes {
  padding: 1rem;
  margin: 1rem;
  width: 200px;
  border: white 1px solid;
  background-color: lightseagreen; }
