.container {
    background-color: black;
    width: 50rem;
    height: 50rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.4rem;

    #formCliente {
        div {
            label {
                font-size: 1.6rem;
            }

            input {
                font-size: 1.6rem;
                border: gray 2px solid;
            }

            input:focus {
                border-color: black 2px solid;
                box-shadow: none;
            }
        }
        .clienteBtn {
            button {
                font-size: 1.6rem;
            }
        }
    }
}

#divClientes {

    padding: 1rem;
    margin: 1rem;
    width: 200px;
    border: white 1px solid;
    background-color: black;
}