.navbar {
    .navbar-ul {
        .navbar-ul-li {
        display: flex;
        width: 100vh;
        justify-content: flex-end;
        text-decoration: none;
        list-style-type: none;
        }
    }
    }