body {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    background-color: #1B4353;
}

* {
    font-size: 10px;
    outline: none;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

@import "navbar";

@import "productos";

@import "clientes";